<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <p th:text="'Hi! Welcome to ' + ${realm}" />
Login or SignUp using:
<a href="http://localhost:9081/v1/auth/realms/DemoRealm/login?redirect_uri=http://localhost:9081/v1/auth/realms/DemoRealm/home&idp=github&client_id=idp_demo">Github</a>
<a href="http://localhost:9081/v1/auth/realms/DemoRealm/login?redirect_uri=http://localhost:9081/v1/auth/realms/DemoRealm/home&idp=stackoverflow&client_id=idp_demo">StackOverFlow</a>
<a href="http://localhost:9081/v1/auth/realms/DemoRealm/login?redirect_uri=http://localhost:9081/v1/auth/realms/DemoRealm/home&idp=facebook&client_id=idp_demo">Facebook</a>
<a href="http://localhost:9081/v1/auth/realms/DemoRealm/login?redirect_uri=http://localhost:9081/v1/auth/realms/DemoRealm/home&idp=twitter&client_id=idp_demo">Twitter</a>	    
</body>
</html>